
$purple: purple;

img {
    width: 10%;
    height: 10%;
    }

#colors {
    color: Violet;
    }    
    
#menu {
    background-color: $purple;
    font-size: 25px;
    width: 50%;
    height: 50%;
    
    }
    
a:hover {
    background-color: yellow;
}

body {
    margin: 50px;
    padding: 20px;
    }
    
h4, h3 {
    margin: 20px;
    padding: 10px;
    }
    

@media print {
    .no-print {
        display: none;
        }
    }

@media (max-width: 600px) {
    body {
        background-color: lightgreen;
    }
}    
    
table {
        border: 3px solid black;
        border-collapse: collapse;
        width: 50%;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }

        th {
            background-color: lightgray;
        }
        
    .addspace {
        padding : 20px;
        font-size: 20px;
        }